{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<header id="post-header" class="block">
  <div class="headings">
    <h1 id="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
    <h2 id="post-date">
      <time datetime="{{ article.date.strftime('%F') }}">{{ article.date.strftime('%B %d, %Y') }}</time>
      {% if article.modified %}(Updated: <time datetime="{{ article.modified.strftime('%F') }}">{{ article.modified.strftime('%B %d, %Y') }}</time>){% endif %}
    </h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
  </div>
</header>
<div class="block short" id="author">
  <div>by {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
  </div>
</div>
<article id="post-body" class="block">
    {{ article.content }}
</article>
{% endblock %}
